@font-face {
  font-display: swap;
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 100;
  src: url("../../fonts/InterTight-Thin.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 200;
  src: url("../../fonts/InterTight-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/InterTight-Light.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/InterTight-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/InterTight-Medium.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/InterTight-SemiBold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/InterTight-Bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/InterTight-ExtraBold.woff2") format("woff2");
}
